
body {
    font-family: Arial, sans-serif; 
    color: #ffffff;
    background-color: #380000c4; 
}
body {
    background-image: url('floriografia2.jfif');
    background-size: cover;
    background-position: center;
  }
  
  .conteudo {
    background-color: #000000d7;
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
header h1 {
    color: #6c757d; 
    font-family: "Vidaloka", serif;
 
  
}

.vidaloka-regular {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
  }
  

header h4 {
    color: #6c757d;
    font-family: 'Playfair Display', serif
 
}

header h2 {
    color: #6c757d; 
    font-family: 'Playfair Display', serif
   
}

header h3 {
    color: #6c757d; 
    font-family: 'Playfair Display', serif
      
}

header nav a {
    color: #520000; 
    text-decoration: none; 
    margin: 0 10px; 
}

header nav a:hover {
    text-decoration: underline; 
}


main {
    max-width: 800px; 
    margin: 0 auto;
}


     .carousel-caption {
    position: static; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 15px; 
}



#flowerCarousel {
    margin: 10% auto;
    max-width: 28%;
}
